body{
    background-color: #efeee7;
    margin:0;
    padding:0;
    font-family: "Geogia", "Times New Roman", Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    line-height:150%;

}

h1{
    color: #efeee7;
    background-color: #333333;
    margin:0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

a{
    color:#d21034;
}

.container{
    width:1024px;
    margin: 0 auto;
}

#main-bio,
#contact-info,
#img-bio{
    float: left;
}

#main-bio{
    width: 68%;
}

#contact-info{
    width: 30%;
}

#img-bio{
    margin-right:20px;
    widthï¼š200px;
    height:200px;
}